@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

html {
  scroll-behavior: smooth;
}


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}
body{
  background:black;
  color: white;
}
  #stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.85);
  padding: 15px 50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}
.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo img {
 height: 50px;
 width: auto;
 display: block;
}
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  color: #ff4fa1;
  font-size: 18px;
  transition: color 0.3s ease;
}
.nav-menu li a:hover {
  color: #8f3bff;
}
.nav-toggle {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .nav-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 200px;
    height: calc(100% - 70px);
    background: rgba(0,0,0,0.95);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-top: 30px;
    transition: right 0.3s ease;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-toggle {
    display: block;
  }
  .nav-logo img{
    height: 40px;
  }
}

/*SECTION HERO */
#hero{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 80px;
  gap: 40px;
}
.hero-content{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 40px;
}
.hero-text{
  flex: 1 1 500px;
  max-width: 600px;
}
.hero-text h1{
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
  display: flex;
}
.hero-text h1 span{
  position: relative;
  top: 20px;
  color: #c8badb;
  display: inline-block;
  font-size: 5rem;
  text-shadow: 0 1px 0 #ff4fa1, 0 2px 0 #8f3bff, 0 3px 0 #ff4fa1,
               0 4px 0 #ff4fa1, 0 5px 0 #8f3bff, 6px 0 transparent, 0 7px 0 transparent,
               0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px transparent, rgb(0,0,0,0.5);
  animation: bounce 0.4s ease infinite alternate;
}
.hero-text h1 span:nth-child(2){ animation-delay: 0.1s; }
.hero-text h1 span:nth-child(3){ animation-delay: 0.2s; }
.hero-text h1 span:nth-child(4){ animation-delay: 0.3s; }
.hero-text h1 span:nth-child(5){ animation-delay: 0.4s; }
.hero-text h1 span:nth-child(6){ animation-delay: 0.5s; }
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ff4fa1, 0 2px 0 #8f3bff, 0 3px 0 #ff4fa1,
                 0 4px 0 #8f3bff, 0 5px 0 #ff4fa1, 0 6px 0 #8f3bff,
                 0 7px 0 #ff4fa1, 0 8px 0 #8f3bff, 0 9px 0 #ff4fa1,
                 0 60px 30px rgba(255,79,161,0.5);
  }
}
.hero-text h2{
  font-size: 32px;
  background: linear-gradient(90deg,#8f3bff, #ff4fa1, #8f3bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.hero-text p{
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  max-width: 500px;
}
/* Hero buttons */
.hero-actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.hero-btn {
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

/* زر Mes Projets */
.hero-btn.primary {
  background: linear-gradient(90deg, #8f3bff, #ff4fa1);
  color: #fff;
  box-shadow: 0 0 15px rgba(143,59,255,0.4);
}

.hero-btn.primary:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 25px rgba(255,79,161,0.6);
}

/* زر Mon CV */
.hero-btn.outline {
  border: 2px solid #ff4fa1;
  color: #f8f4f6;
  background: transparent;
}

.hero-btn.outline:hover {
  background: linear-gradient(90deg, #8f3bff, #ff4fa1);
  color: #fff;
  transform: translateY(-4px);
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.contact-container a {
    text-decoration: none;
    color: inherit;
}
.contact-btn {
  position: relative;
  width: 60px;
  height: 60px;
  background: #111;
  border-radius: 50%;
  border: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}
.contact-btn i {
  font-size: 22px;
  color: white;
}
.tooltip {
  position: absolute;
  top: -50px;
  padding: 7px 15px;
  background: #ff4fa1;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: .3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #8f3bff transparent transparent transparent;
}
.contact-btn:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
.contact-btn:hover {
  transform: scale(1.15);
  border-color: #ff4fa1;
  box-shadow: 0 0 15px #8f3bff;
}

@media (max-width: 768px) {
  .hero-actions {
    justify-content: center;
  }

  .hero-btn {
    width: 100%;
    text-align: center;
  }
}

/* SECTION ABOUT*/
.about-section {
  padding: 80px 0;
  color: #f5f5f5;
}
.about-title {
  text-align: center;
  font-family: "Cinzel Decorative", serif; 
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #8f3bff; 
  margin-top: 40px;
  margin-bottom: 40px;

  
  text-shadow: 0 0 10px rgba(72, 5, 88, 0.4),
               0 0 20px rgba(209, 184, 127, 0.2);
}
.about-container {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}

.profile-img img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
 
  box-shadow: 0 0 25px rgba(71, 5, 88, 0.685);
}
.about-text {
  max-width: 60%;
  font-size: 22px;
  line-height: 1.6;
}
.about-text p {
font-family: "Cinzel Decorative ", serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

/* SECTION SKILLS */
.skills-section {
  padding: 80px 0;
  text-align: center;
}
.skills-title {
  text-align: center;
  font-family: "Cinzel Decorative", serif; 
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ff4fa1; 
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 0 0 10px rgba(72, 5, 88, 0.4),
               0 0 20px rgba(209, 184, 127, 0.2);
}
.skills-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-wrap: wrap;      
  gap: 100px;              
}
.skill {
  text-align: center;
  animation: fadeUp 1.5s ease;
}
.wave-circle {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: visible; 
  border: 2.5px solid transparent;
  background: linear-gradient(#0b0f0d, #0b0f0d) padding-box,
              linear-gradient(45deg, #8f3bff, #ff4fa1) border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wave-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden; 
}
.wave {
  position: absolute;
  width: 140%;
  height: 140%;
  background: #ff4fa1;
  top: 30%;
  left: -20%;
  border-radius: 40%;
  animation: waveMove 4s linear infinite;
  opacity: 0.9;
}
.wave-circle span {
  font-size: 38px;
  font-weight: bold;
  z-index: 5;
  color: white;
}
.mini-circle {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff4fa1, #8f3bff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
  color: white;

  opacity: 1;          /* ← بدل 0 */
  z-index: 20;
}

.c1 { top: -40px; left: 70%; transform: translateX(-50%) scale(1); }
.c2 { right: -40px; top: 20%; transform: translateY(-50%) scale(1); }
.c3 { top: -25px; right: 70%; transform: translateX(-50%) scale(1); }
.c4 { left: -45px; top: 35%; transform: translateY(-50%) scale(1); }
.c5 { left: -40px; top: 85%; transform: translateY(-50%) scale(1); }


@keyframes waveMove {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*SECTION PORTFOLIO */
#portfolio-section {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding-top: 160px;
  padding-bottom: 60px; 
  min-height: 80vh;
}
.Portfolio-title {
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #8f3bff;
  margin-bottom: 40px; 
  text-shadow: 0 0 10px rgba(72, 5, 88, 0.4),
               0 0 20px rgba(209, 184, 127, 0.2);
}
.carousel {
  width: 320px;
  height: 340px;
  transform-style: preserve-3d;
  animation: rotate 12s infinite linear;
  transition: animation-play-state 0.3s ease;
  margin: 0 auto;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel .card {
  position: absolute;
  width: 230px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: black;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 15px;

  text-decoration: none;
  color: #fff;

}
.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
.card img {
  width: 90%;
  height: 120px;
  border-radius: 12px;
  margin-bottom: 10px;
  object-fit: cover;
}
.card p {
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.carousel .card:hover {
  transform: scale(1.08) translateZ(320px);
  box-shadow: 0 0 35px rgba(200, 100, 255, 0.8);
}
.carousel .card:nth-child(1) { transform: rotateY(0deg) translateZ(330px); }
.carousel .card:nth-child(2) { transform: rotateY(51.43deg) translateZ(330px); }
.carousel .card:nth-child(3) { transform: rotateY(102.86deg) translateZ(330px); }
.carousel .card:nth-child(4) { transform: rotateY(154.29deg) translateZ(330px); }
.carousel .card:nth-child(5) { transform: rotateY(205.72deg) translateZ(330px); }
.carousel .card:nth-child(6) { transform: rotateY(257.15deg) translateZ(330px); }
.carousel .card:nth-child(7) { transform: rotateY(308.58deg) translateZ(330px); }

.carousel {
  animation: rotate 16s infinite linear;
}



@keyframes rotate {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
/* عنوان فرعي للـ Portfolio */
.portfolio-subtitle {
  font-family: "Cinzel Decorative", serif;
  font-size: 32px;
  margin: 60px 0 30px;
  color: #f1b6d2;
  text-align: center;
}

/* شبكة البطاقات */
.mobile-grid {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Card */
.mobile-card {
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  padding: 18px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.12);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mobile-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(143,59,255,0.5);
}

.mobile-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: linear-gradient(135deg,#000,#111);
  border-radius: 15px;
  padding: 10px;
}

.mobile-card h3 {
  margin: 12px 0 8px;
  font-size: 18px;
}

.mobile-card p {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

.mobile-card button {
  margin-top: 14px;
  padding: 9px 18px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(135deg,#8f3bff,#5b1fff);
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.mobile-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(143,59,255,0.6);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
}

.modal-content {
  position: relative;
  background: linear-gradient(135deg,#0b0b0b,#141414);
  width: 85%;
  max-width: 1000px;
  margin: 4% auto;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 0 40px rgba(143,59,255,0.35);
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.close-btn:hover {
  background: #8f3bff;
  transform: scale(1.1);
}

/* Gallery */
#galleryTitle {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #8f3bff;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;

  max-height: 420px;      /* ارتفاع ثابت */
  overflow-y: auto;       /* تفعيل التمرير العمودي */
  padding-right: 8px;     /* مساحة للـ scrollbar */
}
.gallery-grid::-webkit-scrollbar {
  width: 8px;
}

.gallery-grid::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

.gallery-grid::-webkit-scrollbar-thumb {
  background: #8f3bff;
  border-radius: 10px;
}

.gallery-grid::-webkit-scrollbar-thumb:hover {
  background: #b18bff;
}


.gallery-grid img {
  width: 100%;
  background: #000;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: transform 0.35s, box-shadow 0.35s;
}

.gallery-grid img:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 0 25px rgba(143,59,255,0.6);
}

/* مسافة أسفل القسم */
#portfolio-section {
  margin-bottom: 160px;
}






/* SECTION CONTACT */
.social-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 0;}

.contact-title {
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  background: linear-gradient(90deg,#8f3bff, #8f3bff, #ff4fa1, #8f3bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-card {
  background: #00000079; 
  color: #fff;
  width: 180px;
  height: 220px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.social-card i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #777474;
}
.social-card span {
  font-weight: bold;
  margin-bottom: 15px;
  color: #777474;

}
.social-card button {
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: #777474;
  font-weight: bold;
  cursor: pointer;
  background-color: #77747428;
}
.social-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x, -100px) var(--y, -100px), 
            rgba(255,79,161,0.6), rgba(143,59,255,0.4), transparent 60%);
}


/*FOOTER */
.site-footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: transparent; 
  position: relative;
}
.site-footer p {
  color: #fcfafc;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow: 0 0 8px  rgba(159, 43, 236, 0.952);
}


  @media (max-width: 768px) {
  #hero {
    padding: 120px 20px 60px;
    text-align: center;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text h1 span {
    font-size: 3.2rem;
  }

  .hero-text h2 {
    font-size: 24px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .contact-container {
    margin-top: 10px !important;
    gap: 12px;
  }

  .contact-btn {
    width: 50px;
    height: 50px;
  }

  .contact-btn i {
    font-size: 18px;
  }

}
@media (max-width: 600px) {
  /* ABOUT */
  .about-container {
    flex-direction: column;
    width: 95%;
    gap: 30px;
    text-align: center;
  }

  .about-text {
    max-width: 100%;
  }

  .profile-img img {
    width: 200px;
    height: 200px;
  }

  /* SKILLS */
  .skills-container {
    flex-direction: column;
    gap: 60px;
  }

  /* PORTFOLIO */
  .carousel {
    width: 260px;
    height: 300px;
  }

  .carousel .card {
    width: 200px;
    height: 270px;
  }

  /* CERTIFICATES */
  .cert-container {
    flex-direction: column;
    align-items: center;
  }

  .cert-card {
    width: 90%;
    max-width: 260px;
  }

  /* SOCIAL */
  .social-container {
    flex-direction: column;
    align-items: center;
  }

  .social-card {
    width: 90%;
    max-width: 260px;
  }

  /* TITLES */
  .about-title,
  .skills-title,
  .Portfolio-title,
  .certificates-title,
  .contact-title {
    font-size: 32px;
  }
 .about-text p {
    font-size: 16px;
    line-height: 1.6;
  }

}

@media (max-width: 768px) {
  .wave-circle {
    width: 140px;
    height: 140px;
  }

  .wave-circle span {
    font-size: 30px;
  }

  .mini-circle {
    width: 36px;
    height: 36px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .carousel {
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    transform: none !important;
    animation: none;
    overflow-x: auto;
    padding: 20px;
  }

  .carousel .card {
    position: relative;
    transform: none !important;
    min-width: 220px;
    height: auto;
  }
}

@media (max-width: 600px) {

  /* عنوان القسم */
  .portfolio-subtitle {
    font-size: 22px;
    margin: 30px 0 20px;
  }

  /* Grid */
  .mobile-grid {
    width: 90%;
    grid-template-columns: 1fr; /* كارد واحد في السطر */
    gap: 20px;
  }

  /* Card */
  .mobile-card {
    padding: 16px;
    border-radius: 16px;
  }

  .mobile-card img {
    height: 180px;
  }

  .mobile-card h3 {
    font-size: 16px;
  }

  .mobile-card p {
    font-size: 13px;
  }

  .mobile-card button {
    font-size: 12px;
    padding: 8px 16px;
  }

  /* Modal */
  .modal-content {
    width: 92%;
    margin: 8% auto;
    padding: 20px;
    border-radius: 18px;
  }

  #galleryTitle {
    font-size: 18px;
  }

  /* Gallery */
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* صورتان في السطر */
    max-height: 300px;
    gap: 15px;
  }

  .gallery-grid img {
    border-radius: 14px;
    padding: 8px;
  }

  /* Close Button */
  .close-btn {
    width: 34px;
    height: 34px;
    font-size: 16px;
    top: 12px;
    right: 12px;
  }
}












section {
  opacity: 0;
  transition: opacity 0.8s ease; 
}

section.visible {
  opacity: 1;
}


